{% load static %}
{% load bootstrap %}

<head>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.standalone.min.css' %}">
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript">
       $(document).ready(function() {
           $('.datepicker').datepicker();
       });
    </script>
</head>

<div class="container">
    <h2>Conmutación de turnos</h2>
    <form action="/shift_change/" method="post" role="form">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
    </form>
</div>
