<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>

<form action="/shift_change/" method="post">
    {% csrf_token %}
    <h1>Intercambio de turno de guardia</h1>
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
